header
{
	background-color:#f1f6f7;
}
footer
{
	background-color:#f1f6f7;
}
main
{
	background-color:#d7e8eb;
}
.container {
    display: flex;
    gap: 10px; 
}
button {
  background-color: white; 
  color: lightblue; 
  padding: 10px 20px; 
  border: none; 
  cursor: pointer; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

button:hover {
  background-color: lightblue; 
  color: white; 
}
